.navbar {
  background-color: #436bd8;
}
#quemssomos {
  background-color: rgb(168, 166, 166);
  color: white;
}
.margin {
  padding-top: 50px;
  padding-bottom: 50px;
}
.Parceiros {
  background-color: #cddbff;
}
